<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome-express</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/1589047438.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <h1>Is it a Palindrome?</h1>
        <form action="/checkWord" method="post">
            <label for="word"></label>
            <input type="text" placeholder="Type Me" name="word">
            <button>PressMe</button>
        </form>
    
        <ul class="messages">
            <% for(var i=0; i<words.length; i++) {%>
              <li class="message">
                <button class="star">&#9734;</button>
                <span class="bold"><%= words[i].word %></span>
                <span class="outCome"><%= words[i].outcome %></span>
                <i class="fa-solid fa-trash"></i>
              </li>
            <% } %>
            </ul>
    </main>

    
    <script src="main.js"></script>
</body>
</html>